:root {
    --s-primary: #08b554;
    --s-primary-dark: #08b554;
    --s-secondary: #000000 !important;
    --s-tertiary: #838383;
    --s-hf-bg: #081621;
    --s-b-bg: #f2f4f8;
    --s-m-bg: #6E2594;
    --s-s-bg: rgba(55, 73, 187, .05);
    --s-f-c1: #666666;
    --s-f-c2: #fff;
}
.q-actions .ac.build-pc .btn{
    background: #009742 !important;
}
.error-border {
    border-color: rgba(255, 0, 0, 0.932) !important;
}
.nav li.active{
    background: var(--s-primary) !important;
}
.drawer .footer .total:nth-child(1) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.mdl-compare {
    background: var(--s-hf-bg) !important;
}
.mdl-compare h4{
    color: white !important;
}
.mdl-compare p{
    color: #dbd6d6 !important;
}
.mdl-compare button.st-outline{
    color: var(--s-primary);
    border: 2px solid var(--s-primary);
}
.st-outline:hover{
    background: var(--s-primary);
    color: white;
}

.child-list a:hover {
    background: var(--s-primary) !important;
    border-color: var(--s-primary) !important;
}

.no-cart {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -60%);
    text-align: center;
    width: 70%;
}

.no-cart img {
    opacity: .65;
    width: 220px;
}

.ht-item.q-actions{
    flex: 0 0 460px !important;
}

.ht-item.logo{
    flex: 0 0 260px !important;
}

.modal-dialog {
    top: 50% !important;
    transform: translateY(-50%);
}
.short-description p{
    color: #666666;
    font-size: 13px;
    margin-bottom: 3px;
}
.short-description{
    padding-bottom: 15px !important;
}
.cart-attributes {
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}

.drawer .content .item .name {
    padding: 0 13px 5px 0 !important;
}

.p-opt-wrap {
    margin-bottom: 10px !important;
}

.p-opt-wrap .text-danger {
    padding: 0 !important;
}

.search-item {
    border-bottom: 1px solid #8080801c;
    border-radius: 0;
}

.no-results {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 18px;
}

.search-item a {
    padding: 10px 10px;
}

.price-old {
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--s-f-c1);
    padding-left: 5px;
}

.search-item a .name,
.search-item a .price {
    margin-left: 70px;
}

.search-item.category {
    margin-left: 0px !important;
}

#ajax-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #0000001a;
    width: 100%;
    height: 100%;
}

#ajax-loader .spinner {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid var(--s-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
.remove i, .ac-ico span {
    color: #ff0000b5 !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.formloader {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.activeTab {
    box-shadow: 0 3px 0 0 var(--s-primary);
    color: var(--s-primary) !important;
}

.activeTab .material-icons {
    color: var(--s-primary) !important;
}

.mc-wishlist:hover {
    color: white !important;
}

.filter-group {
    margin-top: 15px !important;
}

.range-label {
    margin-top: 20px;
}

.common-home .p-item-name {
    height: auto !important;
}

.p-item-page .p-item .short-description {
    padding: 0 !important;
    padding-bottom: 15px !important;
}

/* .ht-item.q-actions{
    flex: 0 0 340px !important;
}
.ht-item.logo {
    flex: 0 0 320px !important;
} */

.cmpr-field {
    position: relative;
}

.cmpr-dropdown {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 80%;
    background: #fff;
    /* border: 1px solid #eee; */
    max-height: 380px;
    overflow-y: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -5px 0 0 #fff;
}
.cmpr-dropdown::-webkit-scrollbar {
    width: 2px;  /* cikon */
}

.cmpr-dropdown::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

.cmpr-dropdown::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}

.cmpr-dropdown::-webkit-scrollbar-thumb:hover {
    background: #888;
}
.cmpr-dropdown:last-child{
    border-bottom: none;
}
.cmpr-option {
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    text-align: left;
}

.cmpr-option:hover {
    background: #f6f6f6;
}

.cmpr-empty {
    padding: .5rem .75rem;
    color: #777;
}

.cmpr-chip {
    margin-top: .5rem;
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    background: #f2f5f9;
    padding: .25rem .5rem;
    border-radius: .5rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

.cmpr-clear {
    border: 0;
    background: transparent;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.social-links a i {
    color: white;
}
.q-actions{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.ht-item.q-actions{
    gap: 1px !important;
    align-items: center;
}

.for-dekstop{
    display: block;
}
.for-mobile{
    display: none;
}

@media screen and (max-width: 1200px) {

    .for-dekstop{
        display: none;
    }
    .for-mobile{
        display: block;
    }
    .common-home .p-item-name{
        font-size: 13px;
    }
    .cmpr-table .p-item-price{
        line-height: 10px !important;
        font-size: 17px !important;
    }
    .ht-item.logo img{
        height: inherit;
        max-width: 130px;
        margin-left: -35px;
    }
}
