#ajax-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #0000001a;
    width: 100%;
    height: 100%;
}

/* Wrapper styling (optional) */
#input-sort {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px 32px;
    min-width: 225px;
    border-radius: 30px;
    border: 1px solid var(--line);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

#input-sort:hover {
    background-color: #f1f1f1;
    border-color: #aaa;
}

#input-sort option {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#input-sort option:hover {
    background-color: #e5f0ff;
    color: #000;
}

input:focus, select:focus, textarea:focus{
    outline: none;
}

.formloader {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.error_border{
    border: 1px solid #dc3545 !important;
}
.alert-danger {
    background: #d61e3c;
    color: white;
}
.alert-danger a {
    color: white;
}
.for-dekstop{
    display: block;
}
.for-mobile{
    display: none;
}

.tf-mini-cart-bottom {
    border-top: 1px solid var(--line);
    padding-top: 20px;
}

@media screen and (max-width: 800px) {

    .for-dekstop{
        display: none;
    }
    .for-mobile{
        display: block;
    }
}
