#ajax-loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #0000001a;
    width: 100%;
    height: 100%;
}

/* Wrapper styling (optional) */
#input-sort {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px 32px;
    min-width: 225px;
    border-radius: 30px;
    border: 1px solid var(--line);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

#input-sort:hover {
    background-color: #f1f1f1;
    border-color: #aaa;
}

#input-sort option {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#input-sort option:hover {
    background-color: #e5f0ff;
    color: #000;
}

input:focus, select:focus, textarea:focus{
    outline: none;
}